<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdmj.knowledgeService.mapper.KnowledgeBasesMapper">

    <!-- 根据用户ID查询知识库 -->
    <select id="selectByUserId" resultType="com.zdmj.knowledgeService.entity.KnowledgeBases"> SELECT
        id, user_id, scope, created_at, updated_at FROM
        knowledge_bases WHERE user_id = #{userId} ORDER BY created_at DESC </select>

    <!-- 根据用户ID查询知识库ID -->
    <select id="selectKnowledgeIdByUserId" resultType="java.lang.Long"> SELECT id FROM knowledge_bases WHERE user_id = #{userId} and scope = 1 </select>

    <select id="selectKnowledgeIdByScope" resultType="java.lang.Long">
        SELECT id FROM knowledge_bases WHERE scope = #{scope} ORDER BY id LIMIT 1
    </select>
</mapper>